html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    border: 0px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.footer {
    background-color: #08440c;
    color: #ebfcec;
    text-align: center;
}